<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    bootstrap="autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
    syntaxCheck="true"
>
    <testsuites>
        <testsuite name="basic">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">include</directory>
            <exclude>
                <directory>tests</directory>
                <file>hashDB.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>

      <log type="coverage-html"
            target="build/coverage"
            charset="UTF-8"
            yui="true"
            highlight="true"
            lowUpperBound="40"
            highLowerBound="70"
            showUncoveredFiles="true"
        />
    </logging>

</phpunit>